


<div class="container">
  <form action="action_page.php">

    <label for="fname">Nome</label>
    <input type="text" id="fname" name="nome" placeholder="nome..">

    <label for="lname">Cognome</label>
    <input type="text" id="lname" name="cognome" placeholder="cognome.">

    <label for="regione">Regione</label>
    <select id="regione" name="regione">
      <option value="lombardia">Lombardia</option>
      <option value="campania">Campania</option>
      <option value="Piemonte">Piemonte</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Di cosa hai bisogno?" style="height:200px"></textarea>

    <input type="invia" value="Invia">

  </form>
</div>
