<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}

</style>
</head>
<body>

<h1>ADOTTAMY</h1>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a class = "btn btn-primary" routerLink="/informazioni" routerLinkActive="active">Informazioni</a>
  </li>
  <li class="nav-item">
    <a class= "btn btn-primary" routerLink="/assistenza" routerLinkActive="active">assistenza</a>
  </li>
   <li class="nav-item">
    <a class= "btn btn-primary" routerLink="/mappa" routerLinkActive="active">mappa</a>
  </li>
  <li class="nav-item">
    <a class= "btn btn-primary" routerLink="/login" routerLinkActive="active">login</a>
  </li>
  <h1></h1>

<router-outlet></router-outlet>

</ul>
<router-outlet></router-outlet>
</body>
</html>
