<div *ngIf  = "!isAuthorized">
<div class = "border">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="email" placeholder="Enter email" name="uname" required  #email>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" (keydown.enter)="submit(email, pass)" required #pass>

    <div *ngIf = "pswErr">
      <p>{{pswErr}}</p>
    </div>

    <button type="submit" (click)="submit(email, pass)">Login</button>
    <button type="button" class="signinbtn" routerLink="/signup" routerLinkActive="active">Sign Up</button>
    <a class="psw"  routerLink="/forgotPassword" routerLinkActive="active">Forgot password?</a>
  </div>
</div>
</div>
<div *ngIf = "isAuthorized">
  <button type="button" class="signinbtn" routerLink="/home" routerLinkActive="active">Go to home page</button>
  <button type="button" class="signinbtn" (click)="logout()" routerLink="/home" routerLinkActive="active">Log out</button>
  <hr>
  <div>
  <p><b>Informazioni account:</b></p>
  <p><b>nome utente:</b> <span>{{results.nome}}</span></p>
  <p><b>cognome utente: </b>{{results.cognome}}</p>
  <div *ngIf = "results.premium == true">
    <p><b>tipo abbonamento:</b> premium ★</p>
  </div>
  <div *ngIf = "results.premium == false">
    <p><b>tipo abbonamento:</b> base</p>
  </div>
  <button type= "button" class = "signinbtn" routerLink="/changePassword" routerLinkActive="active">modifica password</button>
  </div>
  <hr>
</div>


