<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
h4 {text-align: center;}
h5 {text-align: center;}
</style>
</head>
<body>
  <h1 style="color:#d80f0f">INFORMAZIONI SULLE RAZZE</h1>
<h4></h4>


<div *ngFor="let list of image">
    <img [src]='list' />
</div>
<div class="form-group">
    <label for="contactMethod">Contact method</label>
    <select
        name="contactMethod"
        id="contactMethod"
        class="form-control"
        [(ngModel)]="contact.contactMethod">
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.label }}</option>
    </select>
</div>


<p class="a"></p>
<p>
</p>
